# Ejercicios de conjuntos (sin resolver)

1. Crea un conjunto con los números del 1 al 5 y añade el número 6.
2. Elimina el número 3 de ese conjunto.
3. Dado `A = {1,2,3}` y `B = {3,4,5}`, calcula:
   - La unión
   - La intersección
   - La diferencia `A - B`
   - La diferencia simétrica
4. Comprueba si el número 2 pertenece al conjunto `A`.
5. Crea un `frozenset` a partir de una lista con elementos repetidos.
6. Escribe un programa que elimine duplicados de una lista usando un conjunto.
7. Dados tres conjuntos de alumnos que cursan diferentes asignaturas, encuentra los que están en todas, en al menos una y en ninguna.

In [2]:
# 1.- Crea un conjunto con los números del 1 al 5 y añade el número 6.

A = {1, 2, 3, 4, 5}
B = {6}
C = A | B
print(C)

{1, 2, 3, 4, 5, 6}

In [4]:
#2.- Elimina el número 3 de ese conjunto.

A.remove(3)
print(A)

{1, 2, 4, 5}

In [5]:
# 3.- Dado A = {1,2,3} y B = {3,4,5}, calcula:
#     La unión
#     La intersección
#     La diferencia A - B
#     La diferencia simétrica

A = {1,2,3}
B = {3,4,5}
print('Unión:', A | B)
print('Intersección:', A & B)
print('Diferencia:', A - B)
print('Diferencia simétrica:', A ^ B)

Unión: {1, 2, 3, 4, 5}
Intersección: {3}
Diferencia: {1, 2}
Diferencia simétrica: {1, 2, 4, 5}

In [7]:
# 4.- Comprueba si el número 2 pertenece al conjunto A

aparece = 2 in A
aparece

True

In [5]:
# 5.- Crea un frozenset a partir de una lista con elementos repetidos.

fs = frozenset([1, 1, 2, 3, 3])
print(fs)

frozenset({1, 2, 3})

In [10]:
# 5.- Crea un frozenset a partir de una lista con elementos repetidos.
lista = [1, 1, 2, 3, 3]
fs1 = frozenset(lista)
fs2 = frozenset(set(lista))
print(f"fs1 = {fs1} \nfs2 = {fs2}")

fs1 = frozenset({1, 2, 3})
fs2 = frozenset({1, 2, 3})

In [15]:
# 6.- Escribe un programa que elimine duplicados de una lista usando un conjunto.

lista = [1,2,3,4,5,5,6,7,8,8]
A = set(lista)
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
# 7.- Dados tres conjuntos de alumnos que cursan diferentes asignaturas, encuentra los que están en todas, en al menos una y en ninguna.

lengua = {"Mario", "Luis", "Santiago", "Carmen", "Rocio"}
matematicas = {"Mario", "Luis","Carmen","Lucia"}
ingles = {"Mario", "Rocio", "Lucia"}
total_alumnos = {"Mario", "Lucia", "Rocio", "Santiago", "Luis", "Carmen", "Alfredo", "Marcos"}

print(f"Curso de Lengua: {lengua}")
print(f"Curso de Matemáticas: {matematicas}")
print(f"Curso de Inglés: {ingles}")
print("")
print (f"Alumnos que están en las tres asignaturas: {lengua&matematicas&ingles}")
print (f"Alumnos que están en al menos una asignatura: {lengua|matematicas|ingles}")
sin_asignatura = total_alumnos - (lengua|matematicas|ingles)
print (f"Alumnos que no están en ninguna asignatura: {sin_asignatura}") 
print("")

Curso de Lengua: {'Rocio', 'Mario', 'Santiago', 'Carmen', 'Luis'}
Curso de Matemáticas: {'Carmen', 'Lucia', 'Mario', 'Luis'}
Curso de Inglés: {'Lucia', 'Rocio', 'Mario'}

Alumnos que están en las tres asignaturas: {'Mario'}
Alumnos que están en al menos una asignatura: {'Mario', 'Lucia', 'Rocio', 'Santiago', 'Luis', 'Carmen'}
Alumnos que no están en ninguna asignatura: {'Alfredo', 'Marcos'}

In [29]:
# EXTRA !!!  --->   Definición de los tres conjuntos de alumnos
alumnos_matematicas = {"Ana", "Luis", "Carlos", "Marta", "Juan"}
alumnos_fisica = {"Luis", "Pedro", "Marta", "Sofía", "Juan"}
alumnos_quimica = {"Ana", "Pedro", "Marta", "Juan", "David"}

# 1. Alumnos que están en todas las asignaturas
# Se usa la intersección (&) para encontrar los elementos comunes a todos los conjuntos.
en_todas = alumnos_matematicas & alumnos_fisica & alumnos_quimica

# 2. Alumnos que están en al menos una de las asignaturas
# Se usa la unión (|) para combinar todos los elementos únicos de los conjuntos.
en_al_menos_una = alumnos_matematicas | alumnos_fisica | alumnos_quimica

# 3. Alumnos que no están en ninguna de las asignaturas
# Para esto, necesitamos un conjunto total de todos los alumnos posibles.
# Si solo nos limitamos a los alumnos que están en los conjuntos, este grupo sería vacío.
# Por lo tanto, asumiremos un conjunto total de alumnos para el ejemplo.

alumnos_totales = {"Ana", "Luis", "Carlos", "Marta", "Juan", "Pedro", "Sofía", "David", "Andrés", "Elena", "Ricardo"}

# La diferencia (-) entre el conjunto total y la unión de todos los alumnos inscritos
en_ninguna = alumnos_totales - en_al_menos_una

# Impresión de los resultados
print(f"Alumnos en todas las asignaturas: {en_todas}")
print(f"Alumnos en al menos una asignatura: {en_al_menos_una}")
print(f"Alumnos que no están en ninguna de las asignaturas: {en_ninguna}")

Alumnos en todas las asignaturas: {'Marta', 'Juan'}
Alumnos en al menos una asignatura: {'Marta', 'Juan', 'David', 'Carlos', 'Sofía', 'Pedro', 'Ana', 'Luis'}
Alumnos que no están en ninguna de las asignaturas: {'Ricardo', 'Andrés', 'Elena'}