# Ejercicios de conjuntos (resueltos)

In [ ]:
# 1 y 2
conjunto = {1,2,3,4,5}
conjunto.add(6)
conjunto.discard(3)
print(conjunto)

In [ ]:
# 3
A = {1,2,3}
B = {3,4,5}
print('Unión:', A | B)
print('Intersección:', A & B)
print('Diferencia A-B:', A - B)
print('Diferencia simétrica:', A ^ B)

In [ ]:
# 4
print(2 in A)

In [ ]:
# 5
fs = frozenset([1,2,2,3,3,4])
print(fs)

In [ ]:
# 6
lista = [1,2,2,3,4,4,5]
lista_sin_duplicados = list(set(lista))
print(lista_sin_duplicados)

In [ ]:
# 7
A = {'Ana','Luis','Marta'}
B = {'Luis','Marta','Pedro'}
C = {'Marta','Pedro','Ana'}
print('En todas:', A & B & C)
print('En al menos una:', A | B | C)
print('En ninguna (ejemplo con universo):')
universo = {'Ana','Luis','Marta','Pedro','Sofía'}
print(universo - (A | B | C))