# 游냀 Ejercicios de Tuplas (Nivel Inicial)
_Generado autom치ticamente el 2025-09-19 10:39 UTC_

Resuelve los siguientes ejercicios usando **tuplas** en Python.

## Ejercicio 1: Crear y acceder
Crea una tupla con los nombres de **5 frutas**.
- Muestra la primera y la 칰ltima fruta.
- Muestra la cantidad de frutas con `len()`.

In [6]:
frutas=("pera","manzana","platano","pi침a","casta침a")
print(frutas)
print(frutas[0])
print(frutas[-1])
tuple_len=len(frutas)
print(f"El tama침o de la tupla es: {tuple_len}")

('pera', 'manzana', 'platano', 'pi침a', 'casta침a')
pera
casta침a
El tama침o de la tupla es: 5

## Ejercicio 2: 칈ndices
Dada la tupla:
```python
colores = ("rojo", "verde", "azul", "amarillo", "verde")
```
- Muestra el 칤ndice de la primera aparici칩n de `"verde"`.
- Cuenta cu치ntas veces aparece `"verde"`.

In [11]:
colores=("rojo","verde","azul","amarillo","verde")
contador=0
for i,color in enumerate(colores):
    if color=="amarillo":
        print(f"El indice es: {i}")
    if color=="verde":
        contador +=1
print(f"Verde aparece {contador} veces")

El indice es: 3
Verde aparece 2 veces

## Ejercicio 3: Desempaquetado
Dada la tupla:
```python
coordenadas = (15, 30)
```
- Desempaqueta la tupla en dos variables `x` y `y`.
- Muestra: `La coordenada X es ... y la Y es ...`.

In [18]:
coordenadas = (15,30)
x=coordenadas[0]
y=coordenadas[1]
print(f"Variable X de la tupla: {x}")
print(f"Variable Y de la tupla: {y}")

Variable X de la tupla: 15
Variable Y de la tupla: 30

## Ejercicio 4: Inmutabilidad
Crea la tupla:
```python
dias = ("lunes", "martes", "mi칠rcoles", "jueves", "viernes")
```
- Intenta cambiar el valor del segundo d칤a (`dias[1] = "LUNES"`) y observa qu칠 ocurre.
- Explica en un comentario por qu칠 sucede.

In [20]:
dias = ("lunes", "martes", "miercoles", "jueves", "viernes")
dias[1] = "LUNES"

# TypeError: 'tuple' object does not support item assignment  => Recordar que las tuplas son inmutables.

TypeError: 'tuple' object does not support item assignment

## Ejercicio 5: Tuplas anidadas
Crea una tupla que contenga informaci칩n de un **estudiante**:
```python
estudiante = ("Ana", 20, ("Matem치ticas", "Historia", "Programaci칩n"))
```
- Muestra el nombre del estudiante.
- Muestra la segunda asignatura.

In [48]:
estudiantes =(
    ("Ana", 20, ("Matem치ticas", "Historia", "Programaci칩n")),
)

print(f"Listado de los estudiantes: {estudiantes}")
print("")
nombre_estudiante = tuple(estudiante[0] for estudiante in estudiantes)
print (f"Nombre del primer estudiante: {nombre_estudiante}")
print("")
asignaturas = estudiantes[0][2]
print(f"Nombre de todas las asignaturas: {asignaturas}")
print("")
segunda_asignatura = estudiantes[0][2][1]
print(f"Nombre de la segunda asignatura: {segunda_asignatura}")

Listado de los estudiantes: (('Ana', 20, ('Matem치ticas', 'Historia', 'Programaci칩n')),)

Nombre del primer estudiante: ('Ana',)

Nombre de todas las asignaturas: ('Matem치ticas', 'Historia', 'Programaci칩n')

Nombre de la segunda asignatura: Historia

In [89]:
estudiantes =(
    ("Ana", 20, ("Matem치ticas", "Historia", "Programaci칩n")),
    ("Luis", 22, ("Lat칤n", "Dibujo", "Lengua"))
)

print(f"Listado de los estudiantes: {estudiantes}")
print("")

# print("Listado de los estudiantes:")
# for estudiante in estudiantes:
#     print(estudiante)

nombre_estudiante = list(estudiante[0] for estudiante in estudiantes)
print (f"Nombre del primer estudiante: {nombre_estudiante}")
print("")

#print("Listado de todas las asignaturas:")
#for estudiante in estudiantes:
#    for asignatura in estudiante[2]:
#        print(asignatura)

asignaturas = list(asignatura[2] for asignatura in estudiantes)
print (f"Nombre del primer estudiante: {asignaturas}")
print("")

#print("Listado de todas las asignaturas:")
#for estudiante in estudiantes:
#    for asignatura in estudiante[2][1]:
#        print(asignatura)

asignatura2 = list(asignatura[2][1] for asignatura in estudiantes)
print (f"Nombre del primer estudiante: {asignatura2}")
print("")

Listado de los estudiantes: (('Ana', 20, ('Matem치ticas', 'Historia', 'Programaci칩n')), ('Luis', 22, ('Lat칤n', 'Dibujo', 'Lengua')))

Nombre del primer estudiante: ['Ana', 'Luis']

Nombre del primer estudiante: [('Matem치ticas', 'Historia', 'Programaci칩n'), ('Lat칤n', 'Dibujo', 'Lengua')]

Nombre del primer estudiante: ['Historia', 'Dibujo']

## Ejercicio 6: Convertir entre lista y tupla
Crea una tupla con 4 ciudades. Convierte la tupla en lista, agrega otra ciudad, y vuelve a convertir a tupla.

In [55]:
ciudades=("Madrid","Barcelona","Sevilla","Bilbao")
print(ciudades)
print("")

lista_ciudades = list(ciudades)
print(lista_ciudades)
print("")

lista_ciudades.append("Lugo")
print(lista_ciudades)
print("")

ciudades=tuple(lista_ciudades)
print(ciudades)

('Madrid', 'Barcelona', 'Sevilla', 'Bilbao')

['Madrid', 'Barcelona', 'Sevilla', 'Bilbao']

['Madrid', 'Barcelona', 'Sevilla', 'Bilbao', 'Lugo']

('Madrid', 'Barcelona', 'Sevilla', 'Bilbao', 'Lugo')